@model MVCmini.Models.Class

@{
    ViewBag.Title = "Dodawanie grupy";
}

<h2>Dodawanie grupy</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Grupa</legend>

        <div class="editor-label">
            @Html.Label("Nazwa grupy")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassName)
            @Html.ValidationMessageFor(model => model.ClassName)
        </div>

        <div class="editor-label">
            @Html.Label("Opis")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassDescription)
            @Html.ValidationMessageFor(model => model.ClassDescription)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
