@model IEnumerable<MVCmini.ViewModel.StudentsVM>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Studentów</h2>

<table>
    <tr>
        <th>
            Grupa
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Ocena
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", "Students", new { id = item.StudentID }, null) |
            @Html.ActionLink("Edytuj", "Edit", "Students", new { id = item.StudentID }, null) |
            @Html.ActionLink("Usuń z Grupy", "DropStudentClass", "Students", new { id = item.StudentID }, null)
        </td>
    </tr>
}

</table>
